:root {
  --dl-size-size-large: 144px;
  --dl-size-size-small: 48px;
  --dl-size-size-medium: 96px;
  --dl-size-size-xlarge: 192px;
  --dl-size-size-xsmall: 16px;
  --dl-space-space-unit: 16px;
  --dl-size-size-xxlarge: 288px;
  --dl-color-scheme-white: #FFFFFF;
  --dl-size-size-maxwidth: 1144px;
  --dl-radius-radius-round: 50%;
  --dl-color-scheme-green80: #105749ff;
  --dl-space-space-halfunit: 8px;
  --dl-space-space-sixunits: 96px;
  --dl-space-space-twounits: 32px;
  --dl-color-scheme-green100: #0c4237ff;
  --dl-color-scheme-orange80: #ffc78bff;
  --dl-color-scheme-yellow20: #fffef3ff;
  --dl-color-scheme-yellow80: #fff6a7ff;
  --dl-radius-radius-radius2: 2px;
  --dl-radius-radius-radius4: 4px;
  --dl-radius-radius-radius8: 8px;
  --dl-space-space-fiveunits: 80px;
  --dl-space-space-fourunits: 64px;
  --dl-color-scheme-orange100: #ffad61ff;
  --dl-radius-radius-radius16: 16px;
  --dl-space-space-eightunits: 128px;
  --dl-space-space-threeunits: 48px;
  --dl-color-scheme-lightgreen: #c7ff9bff;
  --dl-space-space-oneandhalfunits: 24px;
}
.button {
  color: var(--dl-color-scheme-green100);
  cursor: pointer;
  display: inline-block;
  padding: 12px 24px;
  border-color: var(--dl-color-scheme-green100);
  border-width: 2px;
  border-radius: 32px;
  background-color: var(--dl-color-scheme-white);
}
.input {
  color: var(--dl-color-scheme-green100);
  cursor: auto;
  padding: 0.5rem 1rem;
  border-color: var(--dl-color-scheme-green100);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-scheme-white);
}
.textarea {
  color: var(--dl-color-scheme-green100);
  cursor: auto;
  padding: 0.5rem;
  border-color: var(--dl-color-scheme-green100);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-scheme-white);
}
.list {
  width: 100%;
  margin: 1em 0px 1em 0px;
  display: block;
  padding: 0px 0px 0px 1.5rem;
  list-style-type: none;
  list-style-position: outside;
}
.list-item {
  display: list-item;
}
.teleport-show {
  display: flex !important;
  transform: none !important;
}
.button-secondary {
  font-style: normal;
  transition: 0.3s;
  font-family: Lexend;
  font-weight: 500;
  line-height: 1;
  border-color: var(--dl-color-scheme-green80);
  margin-right: var(--dl-space-space-unit);
}
.button-secondary:hover {
  color: var(--dl-color-scheme-white);
  background-color: var(--dl-color-scheme-orange100);
}
.button-primary {
  color: var(--dl-color-scheme-white);
  font-style: normal;
  transition: 0.3s;
  font-family: Lexend;
  font-weight: 500;
  line-height: 1;
  border-color: var(--dl-color-scheme-green80);
  background-color: var(--dl-color-scheme-green80);
}
.button-primary:hover {
  color: var(--dl-color-scheme-green80);
  background-color: var(--dl-color-scheme-lightgreen);
}
.navbar-container {
  top: 0;
  width: 100%;
  display: flex;
  z-index: 1000;
  position: sticky;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: center;
  background-color: var(--dl-color-scheme-white);
}
.navbar-burger-menu {
  display: none;
}
.max-width {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  justify-content: space-between;
}
.button-gradient {
  display: flex;
  font-size: 18px;
  background: linear-gradient(90deg, #C7FF9B 0%, #FFF6A7 100%);
  font-style: normal;
  transition: 0.3s;
  align-items: center;
  font-weight: 700;
  line-height: 0.9;
  padding-top: 20px;
  border-color: transparent;
  margin-right: var(--dl-space-space-unit);
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 20px;
}
.button-gradient:hover {
  color: var(--dl-color-scheme-white);
  background: unset;
  border-color: var(--dl-color-scheme-white);
}
.button-transparent {
  color: var(--dl-color-scheme-white);
  font-size: 18px;
  font-style: normal;
  transition: 0.3s;
  font-weight: 700;
  line-height: 0.9;
  padding-top: 20px;
  border-color: var(--dl-color-scheme-white);
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 20px;
  background-color: transparent;
}
.button-transparent:hover {
  color: var(--dl-color-scheme-green80);
  background-color: var(--dl-color-scheme-lightgreen);
}
.section-container {
  width: 100%;
  display: flex;
  overflow: hidden;
  align-items: center;
  padding-top: var(--dl-space-space-eightunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-eightunits);
}
.hero-container {
  padding-top: 0 !important;
  background-color: var(--dl-color-scheme-green80);
}
.bg-transparent {
  background-color: transparent;
}
.question-content {
  display: flex;
  overflow: hidden;
  max-height: 0;
  transition: 0.3s;
  align-items: flex-start;
  flex-direction: column;
}
.question {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 20px;
  border-color: rgba(44, 39, 33, 0.08);
  border-width: 1px;
  padding-left: var(--dl-space-space-twounits);
  border-radius: 12px;
  margin-bottom: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: 20px;
  justify-content: space-between;
  background-color: var(--dl-color-scheme-white);
}
.footer-column {
  width: 15%;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  justify-content: flex-start;
}
.beforeHeading {
  font-size: 14px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 800;
  line-height: 1.15;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  text-decoration: none;
}
.brandName {
  font-size: 20px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 800;
  line-height: 1.2;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  text-decoration: none;
}
.navbarLink {
  font-size: 16px;
  font-style: normal;
  font-family: Titillium Web;
  font-weight: 600;
  line-height: 1.5;
  text-transform: none;
  text-decoration: none;
}
.Content {
  font-size: 16px;
  font-family: Titillium Web;
  font-weight: 400;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}

@media(max-width: 767px) {
  .navbar-burger-menu {
    display: flex;
  }
  .section-container {
    padding-top: var(--dl-space-space-fourunits);
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .footer-column {
    width: 30%;
  }
}
@media(max-width: 479px) {
  .footer-column {
    width: 50%;
  }
}




html {
  font-family: Titillium Web;
  font-size: 16px;
}

body {
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  text-transform: none;
  letter-spacing: normal;
  line-height: 1.15;
  color: var(--dl-color-scheme-green100);
  background-color: #D5D2D2;
  margin: 0;

}


html {
  line-height: 1.15;
}

* {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
}

p,
li,
ul,
pre,
div,
h1,
h2,
h3,
h4,
h5,
h6,
figure,
blockquote,
figcaption {
  margin: 0;
  padding: 0;
}

button {
  background-color: transparent;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
select {
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focus,
[type="button"]:-moz-focus,
[type="reset"]:-moz-focus,
[type="submit"]:-moz-focus {
  outline: 1px dotted ButtonText;
}

a {
  color: inherit;
  text-decoration: inherit;
}

input {
  padding: 2px 4px;
}

img {
  display: block;
}

html {
  scroll-behavior: smooth
}








.home-navbar {
  height: 125px;
  display: flex;
  z-index: 100;
  background-color: #dad8d8;
}
.home-logo {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-logo-text01 {
  font-weight: bold;
}
.home-logo-line {
  color: #2b4742;
  font-size: 14px;
}
.home-logo-text02 {
  color: #2b4742;
}
.home-text {
  font-size: 14px;
  color: #2b4742;
  margin-bottom: 15px;
}

.home-text-bold {
  font-weight: bold;
  font-size: 14px;
  color: #2b4742;
  margin-bottom: 5px;
}
.home-links {
  flex: 0 0 auto;
  width: 200px;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100px;
  display: flex;
  align-items: center;
  flex-direction: row;
}



.home-hero {
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
  width: 100%; /* make sure the container spans the full width */
  padding: 0; /* reset any padding */
  margin: 0; /* reset any margin */
  background-color: #ffffff;
}
.home-section {
  flex-grow: 1;
  align-items: center;
  padding-top: 78px;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  padding-bottom: 67px;
  justify-content: center;
  background-color: #ffffff;
}
.home-about-text {
  color: var(--dl-color-scheme-green100);
  max-width: 505px;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-family: Helvetica;
  font-weight: 300;
  margin-left: 8px;
  margin-right: 8px;
  line-height: 1.4;
}
.home-section1 {
  height: auto;
  position: relative;
  align-items: center;
  padding-top: 50px;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  padding-bottom: 67px;
  justify-content: center;
  background-color: #ffffff;
}

.home-text-button {
  font-weight: bold;
  margin-top: 60px;
}

/* Style for the divider line */
.topic-line {
  width: 165px; /* Adjust as per requirement */
  height: 0.2px;
  border: 0.5px solid var(--dl-color-scheme-green100); /* Adjust thickness and color as per requirement */
  margin: 10px auto; /* Adjust spacing as required */
}


.home-links-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.home-container1 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 var(--dl-space-space-fiveunits); /* Add horizontal padding */
}

@media (max-width: 768px) {
  .home-container1 {
      padding: 0px;
  }
}

.home-container2 {
  width: 211px;
}
.home-text13 {
  font-family: Roboto;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-text14 {
  font-size: 14px;
  font-style: normal;
  font-family: Roboto;
  font-weight: 300;
  margin-bottom: var(--dl-space-space-unit);
}
.home-text20 {
  font-style: normal;
  font-family: Roboto;
  font-weight: 700;
  padding-top: var(--dl-space-space-fourunits);
}
.home-container3 {
  width: 211px;
  flex: 1;
  margin: 0 25px; /* Optional: for some space between columns when they are side by side */
}

@media (max-width: 1040px) {
  .home-container3 {
      flex: 100%;
      margin: 10px 0; /* Optional: for some space between columns when they are stacked */
      margin-top: 25px;
  }
}

.home-container4 {
  width: 266px;
}

.home-section2 {
  height: 157px;
  position: relative;
  align-items: center;
  padding-top: 40px;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  padding-bottom: 40px;
  justify-content: center;
  background-color: #2b4742;
}
.copy-right {
  color: rgb(255, 255, 255);
  width: auto;
  font-size: 14px;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-family: Roboto;
  font-weight: 300;
}


.overlay-container {
  position: relative;
  width: 100%;
  height: calc(100% - 150px);
}


.home-video, .home-image {
  position: absolute;
  top: -150px; /* This will shift the content up by 150px */
  left: 0;
  width: 100%;
  height: 884px; /* Original height */
  object-fit: cover;
}
.home-video-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 584px; /* Adjusted height */
}

.centered-text {
  position: absolute;
  top: 50%; 
  left: 50%;
  transform: translate(-50%, 350%);
  z-index: 3;
  width: 100%;
  text-align: center;
}
.home-image {
  z-index: 2; /* Above the video but below the text */
  opacity: 0.55;
}






.home-section1 {
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  width: 100%; /* Set to full width */
  padding: 78px var(--dl-space-space-fiveunits); 
  background-color: #ffffff;
  flex-wrap: wrap;
}


.home-container {
  flex: 1; /* Allow each container to take up equal space */
  display: flex; 
  flex-direction: column; 
  align-items: flex-start; 
  margin: 0; /* Ensures no offset */
}

.section-text {
  color: var(--dl-color-scheme-green100);
  width: auto;
  font-style: normal;
  text-align: left; /* Align text to the left */
  font-family: Roboto;
  font-weight: 300;
  margin: 0; /* Ensure no margin offset */
  padding: 0; /* Ensure no padding offset */
}

.topic-line {
  width: 100%; 
  margin: 0 0 10px 0; /* Remove top/right/left margins to ensure line starts at the edge */
}
.home-footer {
  width: 100%;
  height: 490px;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  width: 100%; /* Set to full width */
  padding: 78px var(--dl-space-space-fiveunits); 
  background-color: #dad8d8;
}

.home-links-container {
  width: 100%; /* Span the entire width of the footer */
  display: flex;
  justify-content: center; /* Center the content horizontally */
  align-items: center; /* Center the content vertically */
}

.home-container4 {
  display: flex; 
  justify-content: space-between; 
  width: 100%; /* Set to full width */
  padding: 0 var(--dl-space-space-fiveunits); /* Add horizontal padding */
  flex-wrap: wrap;
  
}

.home-container5 {
  width: 211px;
  padding-left: 15px;
  padding-right: 15px;
  flex: 1;
  margin: 0 10px; /* Optional: for some space between columns when they are side by side */
  min-width: 250px;
}

@media (max-width: 768px) {
  .home-container5 {
      flex: 100%;
      margin: 10px 0; /* Optional: for some space between columns when they are stacked */
  }
}
